<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>
            web.gis.AppContextListener 
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>web.gis.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxAddBtsServlet</servlet-name>
        <servlet-class>web.gis.AjaxAddBtsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxAddBtsServlet</servlet-name>
        <url-pattern>/ajax/add-bts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
