body{
    width: 980px;
    margin: auto;
}
.nav-tabs{
    border: none;
}
.nav-tabs li{
    padding: 5px;
}
.glyphicon{
    color: #31708f;
    font-size: 20px;
    margin-right: 10px;
}
.glyphicon:hover, .toolactive{
    color: blue;
    cursor: pointer;
}
th,#distance-panel th{
    font-weight: 500;
}
.panel{
    margin-bottom: 10px;
}
.panel-heading{
    padding-top: 5px;padding-bottom:  5px;
}
.form-control{
    font-size: 12px;
    height: 30px;  
}
.btn{
    font-size: 12px;
}
.nav-tabs li {
    padding-top: 2px;
    padding-bottom: 2px;
}
#search-panel{
    margin-top: 5px;
}
#search-panel .form-group{
    width: 90%;margin-left: auto;margin-right: auto;
}
#search-result-panel th,#search-result-panel td{
    white-space: nowrap;
}
#search-result-panel tr:nth-child(even) {
    background: #EEFFF7
}
#search-result-panel th{
    font-weight: 600;
}
#search-result-panel th,#search-result-panel td{
    padding: 2px;
    font-size: 13px;
}
.row-active{
    color:#46b8da;
}
#distance-panel{
    position: absolute;
    top: 10px;
    width: 80%;
    left: 10%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;

}
#hide-left-panel{
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 5;
}
.glyphicon-fast-backward{
    font-size: 13px;
    margin-right: 0;
}

